@model IEnumerable<OrderViewModel>


@{
    ViewData["Title"] = "MyOrders";
}

<h1>Order History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Adress)
                </th>

                <th>
                    @if (@item.IsCompleted)
                    {
                        <label>Completed</label>
                    }
                    else
                    {
                        <label>Pending</label>
                    }

                </th>

                <td>
                    <a asp-controller="Client" asp-action="DeleteOrder" asp-route-orderId="@item.Id">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>



