@model IEnumerable<OrderViewModel>


@{
    ViewData["Title"] = "MyOrders";
}

<h1>Order History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th> Details </th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Adress)
            </th>

            <td>
                @if (@item.IsCompleted)
                {
                    <label>Completed</label>
                }
                else
                {
                    <label>Pending</label>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>  
            <td>
                <a class="btn btn-primary" asp-controller="Client" asp-action="OrderDetails" asp-route-orderId="@item.Id">Details</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Client" asp-action="DeleteOrder" asp-route-orderId="@item.Id">Cancel</a>
        </tr>
        }
    </tbody>
</table>



