@model OrderViewModel

@{
    ViewData["Title"] = "Order";
}


<div class="row">
    <div class="col-md-8 cart">
        <div class="title">
            <div class="row">
                <div class="col">
                    <h4><b>@ViewData["Title"]</b></h4>
                </div>
                <div>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            Client Name
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ClientName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Adress)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Adress)
                        </dd>
                        <dt class="col-sm-2">
                            Price
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TotalPrice)
                        </dd>
                        <dt class="col-sm-2">
                            Status
                        </dt>
                        <dd class="col-sm-10">
                            @if (@Model.IsCompleted)
                            {
                                <label>Completed</label>
                            }
                            else
                            {
                                <label>Pending</label>
                            }
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

            @foreach (var product in @Model.Products)
            {
                if (true)
                {

                }
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="@Url.Content(product.ImageURL)" asp-append-version="true" width: 3.5rem /></div>

                        <div class="col">
                            <div class="row">@product.Title</div>
                            <div class="row text-muted">@product.Type</div>
                        </div>
                        <div class="col">
                            <div class="col">&euro;@product.Price.ToString("0.##") </div>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>  <a class="btn btn-primary" asp-controller="Client" asp-action="DeleteOrder" asp-route-orderId="@Model.Id">Cancel order</a>

