@{
    Layout = null;
}


<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                </div>
            </div>

            @foreach (var item in ViewBag.cart)
            {
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="@Url.Content(item.Product.ImageURL)" asp-append-version="true" width: 3.5rem /></div>
                        <div class="col">
                            <div class="row">@item.Product.Title</div>
                            <div class="row text-muted">@item.Product.Type</div>
                        </div>
                        <div class="col">
                            <a href="@item.Quantity">-</a>
                            <a href="@item.Quantity" class="border">@item.Quantity</a>
                            <a href="#">+</a>
                        </div>
                        <div class="col">
                            &euro;@item.Product.Price
                            <span class="close" asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">&#10005;</span>
                        </div>
                    </div>
                </div>
            }

            <div class="back-to-shop">
                <a asp-controller="product" asp-action="index"></a>
                <span class="text-muted">Back to shop</span>
            </div>
        </div>

        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">
                    ITEMS @*@((IEnumerable<dynamic>)ViewBag.cart).Count*@
                </div>
                <div class="col text-right">&euro; @ViewBag.total</div>
            </div>

            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&euro; </div>
                <div>
                    <button class="btn btn-primary" type="submit" value="PlaceOrder">
                        <a asp-controller="Client" asp-action="PlaceOrder" asp-route-cart="@ViewBag.cart">CHECKOUT</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
