@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="@Url.Content("~/css/cart.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                    </div>
                </div>

                @foreach (var cartItemList in ViewBag.cart.Values)
                {
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            @foreach (var cartItem in cartItemList)
                            {
                                <div class="row border-top border-bottom">
                                    <div class="row main align-items-center">
                                        <div class="col-2"><img class="img-fluid" src="@Url.Content(cartItem.Product.ImageURL)" asp-append-version="true" width: 3.5rem /></div>
                                        <div class="col">
                                            <div class="row">@cartItem.Product.Title</div>
                                            <div class="row text-muted">@cartItem.Product.Type</div>
                                        </div>
                                        <div class="col">
                                            <a asp-controller="Cart" asp-action="Decrease" asp-route-id="@cartItem.Product.Id">-</a>
                                            <a href="@cartItem.Quantity" class="border">@cartItem.Quantity</a>
                                            <a asp-controller="Cart" asp-action="Increase" asp-route-id="@cartItem.Product.Id">+</a>
                                            <div class="col">&euro;@cartItem.Product.Price </div>
                                        </div>
                                        <div class="col">
                                            <a class="close" asp-controller="Cart" asp-action="Remove" asp-route-id="@cartItem.Product.Id" color="#fff"> &#10005;</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

                <div class="back-to-shop"> <a href="/product/index">&leftarrow;<span class="text-muted">Back to shop</span></a></div>
            </div>

            <div class="col-md-4 summary">
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                <hr>
                <div class="row" style="padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">&euro;@ViewBag.total</div>
                </div> <a class="btn btn-primary" href="/client/placeOrder?id=@ViewBag.cart">Place order</a>
            </div>

        </div>
    </div>
</body>
</html>