@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="@Url.Content("~/css/cart.css")" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                    </div>
                </div>

                @foreach (var item in ViewBag.cart)
                {
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="@Url.Content(item.Product.ImageURL)" asp-append-version="true" width: 3.5rem /></div>
                            <div class="col">
                                <div class="row">@item.Product.Title</div>
                                <div class="row text-muted">@item.Product.Type</div>
                            </div>
                            <div class="col">
                                <a href="">-</a> <a href="@item.Quantity" class="border">@item.Quantity</a> <a href="#">+</a>
                                <div class="col">&euro;@item.Product.Price </div>
                            </div>
                            <div class="col">
                                <a class="close" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Product.Id" color="#fff"> &#10005;</a>
                            </div>
                        </div>
                    </div>
                }
            

                    <a class="text-muted" asp-controller="product" asp-action="index"> Back to shop</a>

            </div>

            <div class="col-md-4 summary">
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                <hr>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">&euro;@ViewBag.total  </div>
                    <div>
                 
                            <a asp-controller="Client" asp-action="PlaceOrder" asp-route-cart="@ViewBag.cart" color="#fff">Order</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>