@model IEnumerable<OrderViewModel>


@{
    ViewData["Title"] = "RetailerOrders";
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Adress)
                </th>
                <th>
                    <a class="btn btn-primary" asp-controller="Retailer" asp-action="UndoOrder" asp-route-orderId="@item.Id">Undo</a>
                </th>

                <td>
                    <a class="btn btn-primary" asp-controller="Client" asp-action="DeleteOrder" asp-route-userId="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



