@model IEnumerable<UserRoleViewModel>


@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </th>

                <td>
                    <a asp-controller="Administration" asp-action="EditUserRole" asp-route-userId="@item.UserId" asp-route-roleId="@item.RoleId">Edit role</a>
                    <a asp-controller="Administration" asp-action="DeleteUser" asp-route-userId="@item.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



